<template>
    <div>
        <v-card v-if="blog.id">
            <v-img
            :src="blog.photo ? apiDomain + blog.photo : `https://picsum.photos/200/300`"
            class="white--text"
            height="200px"
            >
                <v-card-title class="fill-height align-end" v-text="blog.title">
                </v-card-title>
            </v-img>
            <v-card-text>
                <v-simple-table dense>
                <tbody>
                    <tr>
                        <td><v-icon>mdi-format-title</v-icon>judul</td>
                        <td class="blue--text">{{blog.title}}</td>
                    </tr>
                    <tr>
                        <td><v-icon>mdi-note</v-icon>Deskripsi</td>
                        <td>
                            {{blog.description}}
                        </td>
                    </tr>
                </tbody>
                </v-simple-table>
            </v-card-text>
        </v-card>
        <div 
            v-if="!guest"
            class="mt-8 d-flex justify-space-between"
        >
            <v-btn
                color="primary"
                @click="editBlog"
            >
                Edit
            </v-btn>
            <v-btn
                color="warning"
                @click="upload"
            >
                Upload Photo
            </v-btn>
            <v-btn
                color="error"
                @click="remove"
            >
                Delete
            </v-btn>
        </div>
        
    </div>
</template>

    <script>
import { mapActions, mapGetters } from 'vuex';

export default {
data: () => ({
    blog:{},
    apiDomain : `https://demo-api-vue.sanbercloud.com`,
}),
computed:{
    ...mapGetters({
        guest: 'auth/guest'
    })
},
methods:{
    ...mapActions({
        setComponentDialog: 'dialog/setComponent'
    }),
    go() {
        let{ id} = this.$route.params;
        const config = {
            method: 'get',
            url : `${this.apiDomain}/api/v2/blog/${id}`
        }
        this.axios(config)
        .then(response => {
            let {blog} = response.data;
            this.blog = blog;
        })
        .catch(error => {

            console.log(error);
        });
    },
    
    editBlog () {
      this.setComponentDialog({
        component: 'formBlog',
        params:{
          title: "Edit Blog",
          blog:this.blog
        },
        typeForm: "edit",
      })
    },
    upload() {
      this.setComponentDialog({
        component: 'formBlog',
        params:{
          title: "Upload Photo",
          blog:this.blog
        },
        typeForm: "upload",
      })
    },
    remove() {
      this.setComponentDialog({
        component: 'delete',
        params:{
          blog: this.blog
        },
        typeForm: "delete",
      })
    },
},
created(){
    this.go();
},
};
</script>