<template>
    <v-card class="px-5 py-3">
        <v-card-title class="text-h5">
          Delete
        </v-card-title>
        <v-card-text>Are you sure?</v-card-text>
        <v-card-actions class="d-flex justify-space-between">
          <v-btn
            color="secondary"
            rounded
            @click="close"
          >
            No
          </v-btn>
          <v-btn
            color="error"
            rounded
            @click="remove"
          >
            Yes
          </v-btn>
        </v-card-actions>
      </v-card>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
export default{
    name: 'delete',
    data: () => ({
        apiDomain: 'https://demo-api-vue.sanbercloud.com',
        valid: true,
        title: '',
        description: '',
        photo: null,
        rules: {
          required: value => !!value || 'Required.',
        }
    }),
    computed:{
        ...mapGetters({
            token: 'auth/token',
            params: 'dialog/params'
        })
    },
    methods : {
        ...mapActions({
            setAlert : 'alert/set',
        }),
        close() {
            this.$emit('closed',false)
        },
        remove(){
            let id = this.params.blog.id
            
            let config = {
                method: 'post',
                url: `${this.apiDomain}/api/v2/blog/${id}`,
                params:{
                    '_method' : 'DELETE'
                },
                headers:{
                    'Authorization' : `Bearer ${this.token}`
                },
            }

            this.axios(config)
                .then(() => {
                    this.setAlert({
                        status: true,
                        color: 'success',
                        text: 'Berhasil menghapus data'
                    })
                    this.close()

                    this.$router.push("/blogs")
                })
                .catch((error) => {
                    console.log(error)
                    
                    this.setAlert({
                        status: true,
                        color: 'success',
                        text: 'Gagal menghapus data'
                    })
                })
        },
    },
}
</script>