<template>

<keep-alive>
    <v-dialog 
    v-model="dialog" 
    :fullscreen="typeForm != 'delete'" 
    hide-overlay 
    max-width="220"
    persistent 
    transition="dialog-bottom-transition"
    >
        <component :is="currentComponent" @closed="setDialogStatus"></component>    
    </v-dialog>
</keep-alive>

</template>

<script>
import {mapActions, mapGetters} from 'vuex'

export default {
    components : {
        Login : () => import("./Login.vue"),
        Register : () => import("./Register.vue"),
        FormBlog : () => import("./FormBlog.vue"),
        Delete : () => import("./Delete.vue"),
    },
    computed : {
        ...mapGetters({
            dialogStatus : 'dialog/status',
            currentComponent : 'dialog/component',
            typeForm : 'dialog/typeForm',
        }),
        dialog : {
            get (){
                return this.dialogStatus
            },
            set (value){
                this.setDialogStatus(value)
            }
        }
    },
    methods:{
        ...mapActions({
            setDialogStatus: 'dialog/setStatus'
        })
    }
}
</script>
