<template>
    <v-card>
        <v-toolbar dark color="success">
            <v-btn icon dark @click.native="close">
                <v-icon>mdi-close</v-icon>
            </v-btn>
            <v-toolbar-title>{{ params.title }}</v-toolbar-title>
        </v-toolbar>
        <v-divider></v-divider>
        <v-form 
            ref="form"
            v-model="valid"
            lazy-validation
            class="pa-5"
        >
            <v-text-field
                :disabled="typeForm == 'upload'"
                v-model="title"
                :rules="[rules.required]"
                label="Title"
            ></v-text-field>
            <v-text-field
                :disabled="typeForm == 'upload'"
                v-model="description"
                :rules="[rules.required]"
                label="Description Blog"
            ></v-text-field>
            <v-file-input
                v-if="typeForm == 'upload'"
                v-model="photo"
                :rules="[rules.required]"
                placeholder="Upload photo"
                prepend-icon="mdi-camera"
                label="Photo"
            ></v-file-input>
            <v-btn
                v-if="typeForm == 'add'"
                color="success"
                :disabled="!valid"
                @click="add"
            >
                Add Blog
            </v-btn>
            <v-btn
                v-if="typeForm == 'edit'"
                color="success"
                :disabled="!valid"
                @click="update"
            >
                Update Blog
            </v-btn>
            <v-btn
                v-if="typeForm == 'upload'"
                color="success"
                :disabled="!valid"
                @click="upload"
            >
                Upload Photo
            </v-btn>
        </v-form>
    </v-card>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
export default{
    name: 'formBlog',
    data: () => ({
        apiDomain: 'https://demo-api-vue.sanbercloud.com',
        valid: true,
        title: '',
        description: '',
        photo: null,
        rules: {
          required: value => !!value || 'Required.',
        }
    }),
    computed:{
        ...mapGetters({
            token: 'auth/token',
            params: 'dialog/params',
            typeForm: 'dialog/typeForm'
        })
    },
    methods : {
        ...mapActions({
            setAlert : 'alert/set',
            setTypeForm : 'dialog/setTypeForm',
        }),
        close() {
            this.$emit('closed',false)
        },
        add() {
            if(this.$refs.form.validate){

                let config = {
                    method: 'post',
                    url: `${this.apiDomain}/api/v2/blog`,
                    headers:{
                        'Accept' : 'application/json',
                        'Authorization' : `Bearer ${this.token}`
                    },
                    data: {
                        title: this.title,
                        description: this.description
                    }
                }

                this.axios(config)
                    .then((response) => {
                        this.setAlert({
                            status: true,
                            color: 'success',
                            text: 'Berhasil menambahkan blog'
                        })
                        this.close()

                        this.$router.push(`/blog/${response.data.blog.id}`)

                    })
                    .catch((error) => {
                        console.log(error)
                        
                        this.setAlert({
                            status: true,
                            color: 'success',
                            text: 'Gagal menambahkan blog'
                        })
                    })
            }
        },
        update(){
            if(this.$refs.form.validate){
                let id = this.params.blog.id
                
                let config = {
                    method: 'post',
                    url: `${this.apiDomain}/api/v2/blog/${id}`,
                    params:{
                        '_method' : 'PUT'
                    },
                    headers:{
                        'Accept' : 'application/json',
                        'Authorization' : `Bearer ${this.token}`
                    },
                    data: {
                        title: this.title,
                        description: this.description
                    }
                }

                this.axios(config)
                    .then(() => {
                        this.setAlert({
                            status: true,
                            color: 'success',
                            text: 'Berhasil mengubah data'
                        })
                        this.close()

                        this.$router.go(0)
                    })
                    .catch((error) => {
                        console.log(error)
                        
                        this.setAlert({
                            status: true,
                            color: 'success',
                            text: 'Gagal mengubah data'
                        })
                    })
            }

        },
        upload() {
            if(this.$refs.form.validate){
                let id = this.params.blog.id

                let formData = new FormData()
                formData.append('photo',this.photo)

                let config = {
                    method: 'post',
                    url: `${this.apiDomain}/api/v2/blog/${id}/upload-photo`,
                    headers:{
                        'Authorization' : `Bearer ${this.token}`
                    },
                    data: formData
                }

                this.axios(config)
                    .then(() => {
                        this.setAlert({
                            status: true,
                            color: 'success',
                            text: 'Berhasil upload foto'
                        })
                        this.close()

                        this.$router.go(0)
                    })
                    .catch((error) => {
                        console.log(error)
                        
                        this.setAlert({
                            status: true,
                            color: 'success',
                            text: 'Gagal upload foto'
                        })
                    })
            }
        },
        fillData(){
            this.title = this.params.blog.title
            this.description = this.params.blog.description
        }
    },
    mounted(){
        if(this.typeForm != "add"){
            this.fillData()
        }
    }
}
</script>