<template>
    <v-card>
        <v-toolbar dark color="success">
            <v-btn icon dark @click.native="close">
                <v-icon>mdi-close</v-icon>
            </v-btn>
            <v-toolbar-title>Login</v-toolbar-title>
        </v-toolbar>
        <v-divider></v-divider>
        <v-form 
            ref="form"
            v-model="valid"
            lazy-validation
            class="pa-5"
        >
            <v-text-field
                v-model="email"
                :rules="emailRules"
                label="E-mail"
            ></v-text-field>
            <v-text-field
                v-model="password"
                :append-icon="passwordShow ? 'mdi-eye' : 'mdi-eye-off'"
                :rules="[rules.required]"
                :type="passwordShow ? 'text' : 'password'"
                name="input-10-1"
                label="Password"
                counter
                @click:append="passwordShow = !passwordShow"
            ></v-text-field>
            <v-btn
                color="success"
                :disabled="!valid"
                @click="submit"
            >
                Login
            </v-btn>
        </v-form>
    </v-card>
</template>

<script>
import { mapActions } from 'vuex'
export default{
    data: () => ({
        apiDomain: 'https://demo-api-vue.sanbercloud.com',
        valid: true,
        email: '',
        emailRules: [
            v => !!v || 'E-mail is required',
            v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
        ],
        password: '',
        passwordShow: false,
        rules: {
          required: value => !!value || 'Required.',
        }
    }),
    methods : {
        ...mapActions({
            setAlert : 'alert/set',
            setToken : 'auth/setToken',
        }),
        close() {
            this.$emit('closed',false)
        },
        submit() {
            if(this.$refs.form.validate){
                let config = {
                    method: 'post',
                    url: `${this.apiDomain}/api/v2/auth/login`,
                    data: {
                        email : this.email,
                        password : this.password
                    }
                }

                this.axios(config)
                    .then((response) => {
                        this.setToken(response.data.access_token)
                        this.setAlert({
                            status: true,
                            color: 'success',
                            text: 'Berhasil login'
                        })
                        this.close()

                    })
                    .catch((error) => {
                        console.log(error)
                        
                        this.setAlert({
                            status: true,
                            color: 'success',
                            text: 'Gagal login'
                        })
                    })
            }
        }
    },
}
</script>