<template>
    <v-card>
        <v-toolbar dark color="success">
            <v-btn icon dark @click.native="close">
                <v-icon>mdi-close</v-icon>
            </v-btn>
            <v-toolbar-title>Register Account</v-toolbar-title>
        </v-toolbar>
        <v-divider></v-divider>
        <v-form 
            ref="form"
            v-model="valid"
            lazy-validation
            class="pa-5"
        >
            <v-text-field
                v-model="fullName"
                :rules="[rules.required]"
                label="Full Name"
            ></v-text-field>
            <v-text-field
                v-model="email"
                :rules="emailRules"
                label="E-mail"
            ></v-text-field>
            <v-text-field
                v-model="password"
                :append-icon="passwordShow ? 'mdi-eye' : 'mdi-eye-off'"
                :rules="[rules.required]"
                :type="passwordShow ? 'text' : 'password'"
                name="input-10-1"
                label="Password"
                counter
                @click:append="passwordShow = !passwordShow"
            ></v-text-field>
            <v-file-input
                v-model="photo_profile"
                :rules="[rules.required]"
                placeholder="Pick an avatar"
                prepend-icon="mdi-camera"
                label="Avatar"
            ></v-file-input>
            <v-btn
                color="success"
                :disabled="!valid"
                @click="submit"
            >
                Register
            </v-btn>
        </v-form>
    </v-card>
</template>

<script>
import { mapActions } from 'vuex'
export default{
    data: () => ({
        apiDomain: 'https://demo-api-vue.sanbercloud.com',
        valid: true,
        fullName: '',
        photo_profile: null,
        email: '',
        emailRules: [
            v => !!v || 'E-mail is required',
            v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
        ],
        password: '',
        passwordShow: false,
        rules: {
          required: value => !!value || 'Required.',
        }
    }),
    methods : {
        ...mapActions({
            setAlert : 'alert/set',
            setToken : 'auth/setToken',
        }),
        close() {
            this.$emit('closed',false)
        },
        submit() {
            if(this.$refs.form.validate){
                let formData = new FormData()
                formData.append('name',this.fullName)
                formData.append('email',this.email)
                formData.append('password',this.password)
                formData.append('photo_profile',this.photo_profile)

                let config = {
                    method: 'post',
                    url: `${this.apiDomain}/api/v2/auth/register`,
                    headers:{
                        'Accept' : 'application/json'
                    },
                    data: formData
                }

                this.axios(config)
                    .then(() => {
                        this.setAlert({
                            status: true,
                            color: 'success',
                            text: 'Berhasil register akun'
                        })
                        this.close()

                    })
                    .catch((error) => {
                        console.log(error)
                        
                        this.setAlert({
                            status: true,
                            color: 'success',
                            text: 'Gagal register akun'
                        })
                    })
            }
        }
    },
}
</script>