

<template>

 <v-app>
   <alert/>
   <Dialog />


  <v-navigation-drawer app v-model="drawer">
    <v-list>
      <v-list-item v-if="!guest">
      <v-list-item-avatar>
        <v-img :src="`${apiDomain}${user.photo_profile}`"></v-img>
      </v-list-item-avatar>
      <v-list-item-content>
        <v-list-item-title>{{ user.name }}</v-list-item-title>
      </v-list-item-content>
      </v-list-item>
      <div class="pa-2" v-if="guest">
        <v-btn block color="primary" class="mb-1" @click="login">
          <v-icon left>mdi-lock</v-icon>
          Login
        </v-btn>
        <v-btn block color="success"  @click="register">
          <v-icon left>mdi-account</v-icon>
          Register
        </v-btn>

      </div>
      <v-divider></v-divider>
      <v-list-item
      v-for="(item,index) in menus"
      :key="`menu-${index}`"
      :to="item.route"
      >
      <v-list-item-icon>
        <v-icon left>{{item.icon}}</v-icon>
      </v-list-item-icon>
      <v-list-item-content>
      <v-list-item-title>{{item.title}}</v-list-item-title>
      </v-list-item-content>
      </v-list-item>
    </v-list>
    <template v-slot:append v-if="!guest">
      <div class="pa-2">
        <v-btn block color="red" dark @click="logout">
          <v-icon left>mdi-lock</v-icon>
          logout
        </v-btn>
      </div>
    </template> 
  </v-navigation-drawer>

  <v-app-bar app color="blue" dark>
    <v-app-bar-nav-icon @click.stop="drawer= !drawer"></v-app-bar-nav-icon>
    <v-toolbar-title>EpnaOfficialApp</v-toolbar-title>

    <v-spacer></v-spacer>
    
    <v-btn
      v-if="!guest"
      color="success"
      @click="tambahBlog"
    >
      Tambah Blog
    </v-btn>
  </v-app-bar>

  <!-- Sizes your content based upon application components -->
  <v-main>
    <v-container fluid>
      <v-slide-y-transition>
        <router-view></router-view>
      </v-slide-y-transition>
    </v-container>
  </v-main>

  <v-footer app>
    @Epnamnf|VueJS
  </v-footer>
</v-app>
</template>

<script>
import {mapActions, mapGetters} from 'vuex'

export default {
  name : 'App',
  components : { 
    Alert: () => import("./components/Alert.vue"),
    Dialog: () => import("./components/Dialog.vue"),
  },
  data: () => ({
    apiDomain: 'https://demo-api-vue.sanbercloud.com',
    drawer : false ,
    menus : [
      {title : 'Home', icon : 'mdi-home' , route : '/'},
      {title : 'Blogs' , icon : 'mdi-note' , route : '/blogs'},

    ],
  }),
  computed:{
    ...mapGetters({
      guest: 'auth/guest',
      user: 'auth/user',
      token: 'auth/token',
    })
  },
  methods : {
    logout(){
      let config = {
        method : 'post',
        url: `${this.apiDomain}/api/v2/auth/logout`,
        headers: {
          'Authorization' : `Bearer ${this.token}`
        }
      }

      this.axios(config)
        .then(() => {
          this.setAlert({
            status: true,
            color: 'success',
            text: 'Berhasil logout'
          })

          this.setUser({})
          this.setToken('')
        })
        .catch((error) => {
          console.log(error)
          
          this.setAlert({
            status: true,
            color: 'success',
            text: 'Gagal logout'
          })
        })
    },
    login () {
      this.setComponentDialog({
        component: 'login'
      })
    },
    register () {
      this.setComponentDialog({
        component: 'register'
      })
    },
    tambahBlog () {
      this.setComponentDialog({
        component: 'formBlog',
        params:{
          title: "Tambah Blog"
        },
        typeForm: "add",
      })
    },
    ...mapActions({
      setAlert : 'alert/set',
      setComponentDialog : 'dialog/setComponent',
      setStatusDialog: 'dialog/setStatus',
      setToken: 'auth/setToken',
      setUser: 'auth/setUser',
    }),
  },
};
</script>
